################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/obj
/Properties/PublishProfiles
/PingLogger.csproj.user
/Installer/
/.vscode
/packages
