################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/obj
/PingLogger.GUI/.vs/PingWPF
/PingLogger.GUI/bin
/PingLogger.GUI/obj
/PingLogger.GUI/Properties/PublishProfiles
