################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/obj
/PingLogger.csproj.user
/Installer/*.exe
/Installer/Debug
/.vscode
/packages
/Installer/azureKey
*.user
