# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'
- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: '**/*.csproj'
    arguments: '/p:PublishProfile=ClickOnceProfile'
    zipAfterPublish: false
    modifyOutputPath: false

- task: CmdLine@2
  inputs:
    script: |
      cd bin\Release\net5.0\ClickOnce
      dir
- task: FtpUpload@2
  inputs:
    credentialsOption: 'inputs'
    serverUrl: 'ftp://lexdysia.me'
    username: 'pinglogger'
    password: 'pf6cubanwjgikxhlsqre'
    rootDirectory: 'bin\Release\net5.0\ClickOnce'
    filePatterns: '**/*'
    remoteDirectory: '/clickonce'
    clean: false
    cleanContents: true
    preservePaths: false
    trustSSL: true
